# Copy this file to .env and fill in the values below.

# Python Flask settings
LOG_BACKUP_COUNT=30
# generate with: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=generate_a_random_hex_string_here
WTF_CSRF_SECRET_KEY=generate_a_different_random_hex_string_here

# Database settings
POSTGRES_USER=themoviedb
POSTGRES_PASSWORD=themoviedb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=themoviedb
SQLALCHEMY_POOL_SIZE=20

# TheMovieDB settings
THEMOVIEDB_HOSTNAME=api.themoviedb.org
THEMOVIEDB_TOKEN=your_tmdb_api_read_access_token
PRIMARY_RELEASE_DATE_GTE=2024-02-27

# Default local admin user settings
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin

# Default local user user settings
DEFAULT_USER_USERNAME=user
DEFAULT_USER_PASSWORD=user

### DO NOT CHANGE ANY PARAMETERS
FLASK_APP=project/__init__.py
FLASK_ENV=production
USE_RELOADER=False
SERVER_NAME=0.0.0.0:5000
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=5000